.header {
  justify-content: space-around;
  display: flex;

  .logo__image {
    margin-top: 22px;
    margin-left: -118px;
  }

  .header__title {
    margin-left: -440px;
  }

  .people__image {
    margin-left: 1200px;
  }

  .search__image {
    margin-left: 60px;
  }

  .heart__image {
    margin-left: 60px;
  }

  .cart__image {
    margin-left: 60px;
  }

  .menu {
    display: flex;
    gap: 60px;
    margin-left: 70px;
    font-size: 20px;
    margin-top: -72px;
    text-align: center;
    font-family: "Comic Sans MS";

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: black;

    }

    ul {
      list-style: none;
      display: flex;
      gap: 40px;
    }
  }
}
.menunew{
  display: flex;
  gap: 60px;
  font-size: 20px;
  text-align: center;
  font-family: "Comic Sans MS";

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: black;

  }

  ul {
    list-style: none;
    display: flex;
    gap: 40px;
  }
}

