
.card{
  margin-top: 40px;
  margin-left: 90px;
  width: 100%;
}
.cardstranicka1{
  display: flex;
  width: 100%;
}
.card__title{
  text-align: center;
  font-size: 25px;
  font-family: "Comic Sans MS";
  width: 100%;
}
.card__body{
  margin-left: -80px;
}
.card__image{
  margin-left: 30px;
}