.card_product{
  width: 285px;
  height: 446px;
  background-color: #F4F5F7;
  font-family: "Comic Sans MS";
  justify-content: space-around;

  picture img{
    width: 100%;
    height: auto;
  }

  .cartochka__body {
    padding: 20px 10px;

    h3 {
      padding: 0;
      margin: 0;
    }

    .block_price {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .card__text{
      font-size: 15px;
      color: #898989;
    }
    .card__sale{
      font-size: 15px;
      color: #898989;
    }

    .image-container {
      .circle {
        width: 48px;
        height: 48px;
        border-radius: 40px;
        background: #E97171;
        font-size: 15px;
        color: white;
        margin-left: 220px;
        margin-top: -433px;
        position: absolute;
        text-align: center;
      }
    }
  }
}
