.block_large {
  justify-content: space-around;
}

.text_large {
  justify-content: space-around;
  margin-top: 200px;
}

.divan1 {
  justify-content: space-around;
  margin-left: 400px;
  margin-top: -190px;
}

.stars {
  margin-left: 30px;
  margin-top: -45px;
}

.palka {
  margin-left: 120px;
  margin-top: -30px;
}

.divan2 {
  margin-left: 800px;
  margin-top: -370px;
}

.ohra_recr {
  width: 242px;
  height: 39px;
  background: var(--primary-color);
}


.add_big {
  justify-content: space-around;
  margin-left: 1200px;
  margin-top: -350px;

  .ohra_recr_text1 {
    color: white;
    margin-top: -30px;
    font-size: 20px;
    margin-left: 5px;
  }

  .ohra_recr_text2 {
    color: white;
    margin-top: -50px;
    margin-left: 220px;
    font-size: 20px;
  }
}

.mhogo {
  justify-content: space-around;
  gap: 20px;

  .general {
    margin-top: 300px;
    margin-left: 70px;
    font-size: 20px;

    .gen {
      font-size: 30px;
    }
  }
}










