.large {
  position: relative;
  width: 100%;
  height: 700px;
  background-image: url("/assets/images/bigfoto.webp");
  background-size: cover;
  background-position: center;
}

.box {
  text-align: left;
  position: absolute;
  right: 5%;
  top: 23%;
  width: 35%;
  height: 60%;
  background-color: #FFF3E3;
  padding: 40px 60px;
  border-radius: 10px;

}

.text1_yellow {
  font-size: 25px;
  font-family: "Comic Sans MS";
  justify-content: space-around;
}

.text2_yellow {
  color: #B88E2F;
  font-size: 50px;
  font-family: "Comic Sans MS";
  justify-content: space-around;
}

.text3_yellow {
  font-size: 20px;
  font-family: "Comic Sans MS";
  justify-content: space-around;
}

.btn {
  width: 222px;
  height: 75px;
  font-size: 20px;
  color: white;
  background: #B88E2F;
  border: none;
  cursor: pointer;
  font-family: "Comic Sans MS";
  justify-content: space-around;
}

.block1 {
  width: 1440px;
  height: 2000px;
  background: white;
  justify-content: space-around;
}

.zagol {
  margin-top: -1900px;
  text-align: center;
  font-family: "Comic Sans MS";
  justify-content: space-around;
  display: flex;
}

.text2 {
  color: #666666;
  font-size: 20px;
  text-align: center;
  font-family: "Comic Sans MS";
  justify-content: space-around;
  display: flex;
}

.products {
  font-size: 35px;
  margin-top: 25px;
  text-align: center;
  font-family: "Comic Sans MS";
  justify-content: space-around;
  display: flex;
}

.productcart {
  display: flex;
  gap: 70px;
  margin-left: 70px;
  margin-top: 50px;
  justify-content: space-around;
}

.btnbig {
  border: 0;
  text-align: center;
  color: #B88E2F;
  background: none;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 80px;
  font-family: "Comic Sans MS";
  justify-content: space-around;
}

.cvetlya_block {
  background: #FCF8F3;
  width: 100%;
  height: 670px;
  justify-content: center;
  display: flex;
  margin-top: 70px;

  .cvetlaya_title {
    font-size: 70px;
    margin-left: -300px;
  }

  .cvetlaya_text {
    color: #616161;
    font-size: 20px;
    margin-left: -300px;
  }

  .block_cvet {
    display: inline-block;
    margin-top: 200px;
    margin-left: -300px;
  }

  .xyq {
    margin-left: -300px;
    margin-top: 50px;
  }

  .cvetlaya_mini {
    background-image: url(/assets/images/cvetl1.webp);
    background-repeat: no-repeat;
    margin-top: 50px;
    width: 404px;
    height: 582px;
    margin-left: 200px;

  }

  .cvetlaya_small {
    background-color: #B88E2F;
    width: 220px;
    height: 130px;
    //margin-top: 396px;
  }

  .cvetl_kvadr {
    background-color: red;
    width: 48px;
    height: 48px;
    //margin-left: 300px;
  }

  .cvetl_text_kvadr {
    //margin-left: 20px;
    padding-top: 13px;
    color: white;
    text-align: center;
  }

  .cvetlaya_small_text {
    color: #616161;
  }

  .cvetlaya_small_titile {

  }

  .svetcard__image {
    margin-top: 423px;
    margin-left: 21px;
  }

  .svetcardmini__image {
    margin-left: -5px;
  }

  .second_cvetl {
    margin-top: 50px;
    margin-left: 1100px;
    position: absolute;
    display: inline-block;

    .tochki {
      display: flex;
      gap: 20px;
      align-items: center;
      text-align: center;
      margin-top: 30px;
    }
  }
}

.different {
  margin-top: 67px;
  align-items: center;
  text-align: center;

  .different_text_one {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
    color: #666666;
    gap: 20px;

  }

  .different_text_two {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    gap: 20px;
  }

  .different_foto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .different_foto {
      padding: 30px;
    }
  }
  .image_pair{
    display: flex;
    justify-content: space-around;
  }
}



