<!--<div class="header">-->
<!--    <img src="@@pervaya.png" alt="" class="header__html">-->
<!--    <div class="card__text">-->
<!--    <h3>Furniro</h3>-->
<!--    </div>-->

<div class="fon"></div>

<div class="head">
    <div class="logo">
    <div class="fotka1">
    <img src = " ./assets/images/pervaya.webp" alt="" class="logo__img" >
    </div>
    <div class="name">
        <h1> Furniro </h1>
    </div>
    </div>

    <nav class="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>


    <div class="pict">
        <div class="pict1">
            <img src = " ./assets/images/people.webp" alt="" class="navigation1__img" >
        </div>
        <div class="pict2">
            <img src = " ./assets/images/search.webp" alt="" class="navigation2__img" >
        </div>
        <div class="pict3">
            <img src = " ./assets/images/heart.webp" alt="" class="navigation3__img" >
        </div>
        <div class="pict4">
            <img src = " ./assets/images/cart.webp" alt="" class="navigation4__img" >
        </div>



    </div>

</div>



