<div class="card">
    <picture >
        <source srcset="@@img-sm.webp" media="(max-width: 480px)">
        <source srcset="@@img-lg.webp" media="(max-width: 800px)">
        <img src="@@img.webp" alt="@@alt" class="card__image">
        <img src="@@img2.webp" alt="@@alt" class="grey__image">
        <img src="@@img3.webp" alt="@@alt" class="card1__image">
        <img src="@@img4.webp" alt="@@alt" class="card2__image">
        <img src="@@img5.webp" alt="@@alt" class="card3__image">
    </picture>
    <div class="cartochka__body">
        <div class="cart_grey"></div>
        <div class="cart_grey2"></div>
        <div class="cart_grey3"></div>
        <div class="cart_grey4"></div>
        <h3 class="cartochka__title">@@title</h3>
        <h3 class="cartochka2__title">@@title</h3>
        <h3 class="cartochka3__title">@@title</h3>
        <h3 class="cartochka4__title">@@title</h3>
        <p class="card__text"> @@text</p>
        <p class="card__text2"> @@text</p>
        <p class="card__text3"> @@text</p>
        <p class="card__text4"> @@text</p>
        <p class="card__cost"> @@cost</p>
        <p class="card__cost2"> @@cost</p>
        <p class="card__cost3"> @@cost</p>
        <p class="card__cost4"> @@cost</p>
        <p class="card__sale"> @@sale</p>
        <p class="card__sale2"> @@sale</p>
        <p class="card__sale3"> @@sale</p>
        <p class="card__sale4"> @@sale</p>
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
    </div>
</div>
