<div class="card_product">
    <picture>
        <source srcset="@@img-sm.webp" media="(max-width: 480px)">
        <source srcset="@@img-lg.webp" media="(max-width: 800px)">
        <img src="@@img.webp" alt="@@alt" class="cardmini__image">
    </picture>
    <div class="cartochka__body">
        <h3 class="cartochka__title">@@title</h3>
        <p class="card__text"> @@text</p>
        <div class="block_price">
            <p class="card__cost"> @@cost</p>
            @@if (isSale) {
            <div class="card__sale" style="card__sale :@@sale">
                <p>@@sale</p>
            </div>
            }
        </div>
        <div class="image-container">
            @@if (isCircle) {
            <div class="circle" style="background-color: @@color">
                <p>@@circle</p>
            </div>
            }
        </div>
    </div>
</div>
