<div class="spec-table">
    <table>
        <thead>
        <tr>
            <th colspan="2">General</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Sales Package</td>
            <td></td>
        </tr>
        <tr>
            <td>Model Number</td>
            <td></td>
        </tr>
        <tr>
            <td>Secondary Material</td>
            <td></td>
        </tr>
        <tr>
            <td>Configuration</td>
            <td></td>
        </tr>
        <tr>
            <td>Upholstery Material</td>
            <td></td>
        </tr>
        <tr>
            <td>Upholstery Color</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>