// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/button';
@use 'components/card';
@use 'components/home';
@use 'components/header';
@use 'components/str1';
@use 'components/products';
@use 'components/footer';
@use 'components/verhychka';
@use 'components/srt2';
@use 'components/bez2';
@use 'components/srt3';
@use 'components/srt4';
@use 'components/divan-shop';
@use 'components/table';


body{
 font-family: "Comic Sans MS";
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
